@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <h1>Welcome to the Poke oart!</h1>
        <p class="lead">Here you can purchase handy items to help with your quest in catching them all!</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Shop &raquo;</a></p>
    </div>
</center>

